*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../Pictures/8.jpg");
}
#root {
display: flex;
flex-direction: column;
align-items: center;
}

.App {
  width: 800px;
  text-align: left;
  color: #C99C80;
}

.select {
    color: #C99C80;
background: #3A2314;
}

.post {
  display: flex;
  padding: 10px;
  border: 2px solid #C99C80;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.post_content {
  color: #E3864A;
}

.notActive {
text-decoration: line-through;
text-decoration-thickness: 2px;
}

.post_btn {
    display: flex;
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.page {
    padding: 10px;
    border: 1px solid #C99C80;
    cursor: pointer;
}
.page__current {
    font-weight: bold;
    border: 2px solid orange;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgrey;
}

.navbar__links {
    margin-left: auto;
}


.hr-shadow {
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 3px solid #333;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}




/*
my

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.field {
  display: block;
  padding: 15px;
  border: 2px solid pink;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
*/
